[Unit]
Description=Spring Boot Autolampimaksi
After=syslog.target
After=network.target[Service]
User=spring
Type=simple

[Service]
ExecStart=/usr/bin/java -jar /home/spring/autonlampimaksi/target/autonlampimaksi-0.0.1-SNAPSHOT.jar                         >
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=autolampimaksi

[Install]
WantedBy=multi-user.target
